.nav {
    /* background-color: #333; */
    color: #fff;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    max-width: 1500px;
}

.image {
    width: 100px;
    border-radius: 10%;
    border: 1px solid #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.logo {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    min-width: 500px;
    max-width: 1000px;
}

.li {
    margin: 50px, 50px;
    /* white boarder around the list item */
    border: 1px solid #fff;
    /* round the edges of the items */
    border-radius: 5px;
    /* padding around the list items */
    padding: 5px;
    /* black text list items */
    /* color: #000; */
}

.a {
    color: #fff;
    text-decoration: none;
}